<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{/admin/layout/layout :: dynamic(~{::body})}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
	<div class="content-body " ng-app="myAppUpdateMotelRoom" ng-controller="myCtrlUpdateMotelRoom">
		<div class="container-fluid">
			<div class="form-head  d-flex flex-wrap align-items-center">
				<h2 class="font-w600 title mb-2 mr-auto ">Sửa phòng trọ và trạng thái-tiền trọ </h2>
			</div>
			<form id="your-form-id" action="#" th:action="@{/admin/update-motelroom}" th:object="${motelroom}"
				method="post" enctype="multipart/form-data">
				<div class="row">
					<label for="">Hiện ảnh</label>
					<div class="col-12 col-md-6">
						<div class=" d-flex  justify-content-center w-100 border-1  "
							style="height: 25rem; background-color: #ffff;">
							<img class="card-img-top rounded-3 " id="selected-image">
						</div>
						<div class="image-box row mt-5 " th:if="${listimg!=null}">
							<label class="p-2 ms-3 m-1  " for="">Ảnh đang có </label>
							<img id="imgthyme" onclick="clickimg(this)" class="col-2" th:each="item : ${listimg}"
								th:src="@{'/files/ImgMotelRoom/'+${item}}" alt="">
						</div>
						<label class=" mt-2 " for="">Ảnh đang chọn</label>
						<div class="image-box row mt-3 " id="image-box"></div>
						<br>
						<label for="input" class="btn btn-primary mt-3">
							<i for="input" class="fas fa-upload"></i> Chọn ảnh mới
							<input class="d-none " name="files" type="file" id="input" accept="image/*" multiple>
						</label><br>
						<label th:text="${Imgerror}" id="text-error-file" class="mt-2 " style="color: red;"
							for=""></label>
					</div>
					<div class="col-md-6">
						<div>
							<label class="form-label text-black  " for="">Tên phòng trọ</label>
							<textarea id="descriptionsroom" th:field="*{descriptions}" class="form-control " name=""
								cols="30" rows="10"></textarea>
							<div>
								<label th:errors="*{descriptions}" id="descriptionsroom-error"
									style="color: red; padding: 0.5rem; display: block;" for="">lỗi server</label>
								<label id="descriptionsroom-error1" style="color: red; padding: 0.5rem; display: none; "
									for="">
								</label>
							</div>
							<input class="d-none " th:field="*{motelRoomId}">
						</div>
						<div class="row ">
							<div class="col-6 mt-1 ">
								<label class="form-label text-black  " for="">Chiều dài (M)</label>
								<input min="0" id="length" th:field="*{length}" type="number" class="form-control ">
								<div>
									<label th:errors="*{length}" id="length-error"
										style="color: red; padding: 0.5rem; display: block;" for="">lỗi server</label>
									<label id="length-error1" style="color: red; padding: 0.5rem; display: none; "
										for="">lỗi
										cilnk</label>
								</div>
							</div>
							<div class="col-6 mt-1 ">
								<label class="form-label text-black  " for="">Chiều rộng (M)</label>
								<input min="0" id="width" th:field="*{width}" type="number" class="form-control ">
								<div>
									<label th:errors="*{width}" id="width-error"
										style="color: red; padding: 0.5rem; display: block;" for=""></label>
									<label id="width-error1" style="color: red; padding: 0.5rem; display: none;"
										for=""></label>
								</div>
							</div>
						</div>
						<div>
							<label class="form-label mt-1 text-black  " for="">Loại phòng</label>
							<select th:field="*{categoryRoom.categoryRoomId}" class="form-control " name=""
								id="categoryRoom">
								<option value="">chọn loại phòng</option>
								<option th:if="${categoryRoomlist!=null}" th:each="item : ${categoryRoomlist} "
									th:value="${item.categoryRoomId}">[[${item.quantity}]] người,
									[[${item.descriptions}]]</option>
							</select>
							<div>
								<label th:if="${categoryRoomerror!=null}" th:text="${categoryRoomerror}"
									id="categoryRoomerror" style="color: red; padding: 0.5rem; display: block;"
									for=""></label>
								<label id="categoryRoomerror1" style="color: red; padding: 0.5rem; display: none;"
									for=""></label>
							</div>
						</div>
						<div>
							<label class="form-label mt-1 text-black mt-3   " for="">Trạng thái</label><br>
							<input type="radio" class="btn-check" name="options-base" id="option5" th:field="*{status}"
								value="true" th:checked="*{status}" autocomplete="off">
							<label class="btn btn-outline-success " for="option5">Đang hoạt động</label>
							<input type="radio" class="btn-check ms-4   " name="options-base" id="option6"
								autocomplete="off" th:field="*{status}" value="false" th:checked="*{!status}">
							<label class="btn btn-outline-success ms-4 " for="option6">Tắt hoạt động</label>
						</div>
					</div>
				</div>
				<div>
					<label class="form-label mt-4 text-black  " for="">Link video</label>
					<div class="row ">
						<input th:field="*{video}" type="text" class="form-control col-11  " id="Idinput-linkyoutube">
						<p class="col-1 mt-1   btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
							id="Idbutton-linkyoutube">Xem thử</p>
					</div>
					<div>
						<label th:errors="*{video}" id="video-error"
							style="color: red; padding: 0.5rem; display: block;" for=""></label>
						<label id="video-error1" style="color: red; padding: 0.5rem; display: none;" for=""></label>
					</div>
				</div>
				<button class="btn btn-primary m-3  " id="submitluu" type="submit">Lưu</button>
			</form>
			<div th:attr="ng-init='getallbill(\'' + ${motel.motelId} + '\', \'' + ${motelroom.motelRoomId} + '\')'">
				<h2 class="mt-3">Trạng thái và tiền trọ</h2>
				<p><b>Lưu ý :</b> những điều chỉnh ở bên dưới không cần bấm lưu </p>
				<!-- <h4>Trạng thái</h4>
				<div class="mt-2 mb-4 row ">
					<div class="col-9">
						<select class="form-control " ng-change="checkandupdateroomstatus()" ng-model="selectedStatus">
							<option ng-repeat="status in roomStatuses.listStatus" value="{{status.roomStatusId}}">
								{{status.name}}</option>
						</select>
					</div>
					<div class="col-3">
						<button type="button" ng-show="checkesttus!=null" class="btn btn-primary" data-bs-toggle="modal"
							data-bs-target="#staticBackdropf">Sửa Ngày</button>
					</div>
				</div> -->
				<h4 class="mb-2 ">Tiền trọ</h4>
				<div class="row " th:attr="ng-init='getallroomstatus(\'' + ${motelroom.motelRoomId} + '\')'">
					<div class="col-3 " ng-show="Checkbill!==''">
						<div ng-show="Checkbill.ElectricityCash.length !== 0" class="card  text-center w-100  ">
							<div class="alert alert-primary" role="alert">Ngày tạo {{
								Checkbill.ElectricityCash[0].createDate | date:'dd/MM/yyyy' }}</div>
							<div class="card-body">
								<h5 class="card-title">Giá điện</h5>
								<p ng-show="Checkbill.ElectricityCash[0].electricityBill!=0">
									{{(Checkbill.ElectricityCash[0].electricityBill|number) }} đ /KWh </p>
								<p ng-show="Checkbill.ElectricityCash[0].electricityBill==0">Miễn phí</p>
								<button ng-click="Updatabil('dien')" data-bs-toggle="modal"
									data-bs-target="#staticBackdrop" class="btn btn-primary">Cập nhật</button>
							</div>
						</div>
						<div ng-show="Checkbill.ElectricityCash.length === 0" class="card  w-100  text-center">
							<div class="card-body">
								<h5 class="card-title">Giá điện</h5>
								<button ng-click="Addbil('dien')" class="btn btn-primary" data-bs-toggle="modal"
									data-bs-target="#staticBackdrop">Thêm tiền điện</button>
							</div>
						</div>
					</div>
					<div class="col-3 " ng-show="Checkbill!==''">
						<div ng-show="Checkbill.WaterCash.length !== 0" class="card  text-center  w-100 ">
							<div class="alert alert-primary" role="alert">Ngày tạo {{ Checkbill.WaterCash[0].createDate
								| date:'dd/MM/yyyy' }}</div>
							<div class="card-body">
								<h5 class="card-title">Giá nước</h5>
								<p ng-show="Checkbill.WaterCash[0].waterBill!=0">{{
									(Checkbill.WaterCash[0].waterBill|number) }} đ / m³</p>
								<p ng-show="Checkbill.WaterCash[0].waterBill==0">Miễn phí</p>
								<button ng-click="Updatabil('nuoc')" data-bs-toggle="modal"
									data-bs-target="#staticBackdrop" class="btn btn-primary">Cập nhật</button>
							</div>
						</div>
						<div ng-show="Checkbill.WaterCash.length === 0" class="card  w-100   text-center">
							<div class="card-body">
								<h5 class="card-title">Giá nước</h5>
								<button ng-click="Addbil('nuoc')" class="btn btn-primary" data-bs-toggle="modal"
									data-bs-target="#staticBackdrop">Thêm tiền nước</button>
							</div>
						</div>
					</div>
					<div class="col-3 " ng-show="Checkbill!==''">
						<div ng-show="Checkbill.WifiCash.length !== 0" class="card text-center  w-100 ">
							<div class="alert alert-primary" role="alert">Ngày tạo {{ Checkbill.WifiCash[0].createDate |
								date:'dd/MM/yyyy' }}</div>
							<div class="card-body">
								<h5 class="card-title">Giá wifi</h5>
								<p ng-show="Checkbill.WifiCash[0].wifiBill!=0">{{ (
									Checkbill.WifiCash[0].wifiBill|number)}} đ / Tháng</p>
								<p ng-show="Checkbill.WifiCash[0].wifiBill==0">Miễn phí</p>
								<button ng-click="Updatabil('wifi')" data-bs-toggle="modal"
									data-bs-target="#staticBackdrop" class="btn btn-primary">Cập nhật</button>
							</div>
						</div>
						<div ng-show="Checkbill.WifiCash.length === 0" class="card w-100  text-center ">
							<div class="card-body">
								<h5 class="card-title">Giá wifi</h5>
								<button ng-click="Addbil('wifi')" class="btn btn-primary" data-bs-toggle="modal"
									data-bs-target="#staticBackdrop">Thêm tiền wifi</button>
							</div>
						</div>
					</div>
					<div class="col-3 " ng-show="Checkbill!==''">
						<div ng-show="Checkbill.RoomCash.length !== 0" class="card  text-center w-100 ">
							<div class="alert alert-primary" role="alert">Ngày tạo {{ Checkbill.RoomCash[0].createDate |
								date:'dd/MM/yyyy' }}</div>
							<div class="card-body">
								<h5 class="card-title">Giá Phòng</h5>
								<p ng-show="Checkbill.RoomCash[0].roomBill!=0">{{
									(Checkbill.RoomCash[0].roomBill|number) }} đ / Tháng</p>
								<p ng-show="Checkbill.RoomCash[0].roomBill==0">Miễn phí</p>
								<button ng-click="Updatabil('giaphong')" class="btn btn-primary" data-bs-toggle="modal"
									data-bs-target="#staticBackdrop">Cập nhật</button>
							</div>
						</div>
						<div ng-show="Checkbill.RoomCash.length === 0" class="card w-100  text-center">
							<div class="card-body">
								<h5 class="card-title">Giá Phòng</h5>
								<button ng-click="Addbil('giaphong')" class="btn btn-primary" data-bs-toggle="modal"
									data-bs-target="#staticBackdrop">Thêm tiền phòng</button>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- Modal -->
			<div class="modal fade " id="exampleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-xl modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="exampleModalLabel">Xem Video</h1>
							<button type="butto" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<iframe style="width: 800px;" id="link-youtube" class="mt-3  w-100 " height="600"
								src="https://www.youtube.com/embed/X3EeCw-Jvbs?si=icelt0DXrocyIK39"
								title="YouTube video player" frameborder="0"
								allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
								allowfullscreen></iframe>
						</div>
					</div>
				</div>
			</div>
			<!-- Modal  Add update bill-->
			<div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
				tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="exampleModalLabel"> {{addorupdata}} Tiền {{title}}</h1>
							<button id="butclose" type="butto" class="btn-close" data-bs-dismiss="modal"
								aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<label for="">Lưu ý : có hai cách nhập giá tiền <br>
								<span> cách 1: nhập giá tiềnb bằng hoặc trên 1.000 đồng</span><br>
								<span> cách 2: nhập giá tiền bằng 0 được xem là miễn phí</span>
							</label>
							<label class="form-label  " for="">Mời nhập giá tiền {{title}}</label>
							<input class="form-control mb-3  " id="numberbill" type="number" ng-model="numberbill">
							<label for="form-label " style="color: red;">{{error}}</label>
							<div class="d-flex  justify-content-end ">
								<button ng-click="PostBill()" class="btn btn-primary ">{{addorupdata}}</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Modal  Add roomstatus bill-->
			<div class="modal fade " id="staticBackdropf" data-bs-backdrop="static" data-bs-keyboard="false"
				tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h1 class="modal-title fs-5" id="exampleModalLabel">Chọn ngày trả phòng</h1>
							<button id="butclosee" ng-click="setroomstatus()" type="butto" class="btn-close"
								data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<label class="form-label  " for="">Ngày trả phòng</label>
							<input id="datepick" class="form-control mb-3  " type="date" ng-model="dateroomstatus">
							<label for="form-label " style="color: red;">{{errorstatus}}</label>
							<div class="d-flex  justify-content-end ">
								<button ng-click="updateroomstatus()" class="btn btn-primary ">Lưu</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>

</html>