<!DOCTYPE html>
<html lang="en"  xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="utf-8">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta name="robots" content="">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="description" content="Zenix - Crypto Admin Dashboard">
	<meta property="og:title" content="Zenix - Crypto Admin Dashboard">
	<meta property="og:description" content="Zenix - Crypto Admin Dashboard">
	<meta property="og:image" content="https://zenix.dexignzone.com/xhtml/social-image.png">
	<meta name="format-detection" content="telephone=no">
	<title>Zenix - Crypto Admin Dashboard </title>
	<!-- Favicon icon -->
	<link rel="icon" type="image/png" sizes="16x16" href="/admin/images/favicon.png">
	<link rel="stylesheet" href="/admin/vendor/chartist/css/chartist.min.css">
	<link href="/admin/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
	<link href="/admin/vendor/owl-carousel/owl.carousel.css" rel="stylesheet">
	<link href="/admin/css/style.css" rel="stylesheet">

</head>
<body>
<footer>
    <div class="footer mt-5 ">
        
    </div>
</footer>
</body>
</html>