<footer class="mt-5 " style="background-color: #545454;">
    <div class="footer-responsive">
        <div class="row">
            <div class="col-lg-6 col-12">
                <img th:src="@{/img/logo.png}" alt="" class="w-25">
                <p style="color: #DCBF7D;">Trang web nhà trọ F.E (Flash & Exactly) là một nền tảng trực tuyến hiện đại,
                    mang lại trải nghiệm tìm
                    kiếm và đặt phòng nhà trọ một cách nhanh chóng và tiện lợi. Với giao diện trực quan và thân thiện
                    người dùng, F.E tập trung vào việc kết nối chủ nhà trọ và người thuê nhà một cách dễ dàng.</p>
            </div>
            <div class="col-lg-2 footer-responsive-comp">
                <h6 style="color: #DCBF7D;">DỊCH VỤ</h6>
                <ul style="color: #DCBF7D; margin-top: 3.5rem;">
                    <li>Bảng giá dịch vụ</li>
                    <li>Bảng giá dịch vụ</li>
                    <li>Bảng giá dịch vụ</li>
                </ul>
            </div>
            <div class="col-lg-2 footer-responsive-comp">
                <h6 style="color: #DCBF7D;">DỊCH VỤ</h6>
                <ul style="color: #DCBF7D; margin-top: 3.5rem;">
                    <li>Bảng giá dịch vụ</li>
                    <li>Bảng giá dịch vụ</li>
                    <li>Bảng giá dịch vụ</li>
                </ul>
            </div>
            <div class="col-lg-2 footer-responsive-comp">
                <h6 style="color: #DCBF7D;">DỊCH VỤ</h6>
                <ul style="color: #DCBF7D; margin-top: 3.5rem;">
                    <li>Bảng giá dịch vụ</li>
                    <li>Bảng giá dịch vụ</li>
                    <li>Bảng giá dịch vụ</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="d-flex justify-content-center" style="color: #DCBF7D;">© 2023 F.E . All Rights Reserved.</p>
    </div>

</footer>