<footer class="mt-5" style="background-color: #fff;">
	<div class="footer-responsive">
		<div class="row">
			<div class="col-lg-5 col-12" style="color: #000; margin-top: 5rem; margin-left: 5rem;">
				<h5  >F.E - Nền tảng tìm kiếm và đặt phòng nhà trọ hiện đại</h6>
				<p style="color: #000; margin-top: 3.5rem;">Trang web nhà trọ F.E (Flash & Exactly) là một nền tảng trực tuyến hiện đại,
					mang lại trải nghiệm tìm
					kiếm và đặt phòng nhà trọ một cách nhanh chóng và tiện lợi. Với giao diện trực quan và thân thiện
					người dùng, F.E tập trung vào việc kết nối chủ nhà trọ và người thuê nhà một cách dễ dàng.</p>
			</div>
			<div class="col-lg-2 footer-responsive-comp" style="margin-left: 3rem;">
				<h5 style="color: #000; margin-left: 2rem;">Liên kết hữu ích</h5>
				<ul style="color: #000; margin-top: 3.5rem;">
					<li><a th:href="@{/index}" style="color: #000; text-decoration: none;">Trang chủ</a></li>
					<li><a th:href="@{/room}" style="color: #000; text-decoration: none;">Trang nhà trọ</a></li>
					<li><a th:href="@{/contact}" style="color: #000; text-decoration: none;">Trang phản hồi</a></li>
					<li><a th:href="@{/blog}" style="color: #000; text-decoration: none;">Trang tin tức</a></li>
				</ul>
			</div>
			<div class="col-lg-2 footer-responsive-comp" >
				<h5 style="color: #000; margin-left: 2rem;">Tài Khoản</h5>
				<ul style="color: #000; margin-top: 3.5rem;">
					<li><a class="dropdown-item" th:href="@{/signup}">Đăng ký tài khoản</a></li>
					<li><a class="dropdown-item" th:href="@{/signin}">Đăng nhập</a></li>
					<li><a class="dropdown-item" th:href="@{/forgot}">Quên mật khẩu</a></li>
				</ul>
				
			</div>
			
			<div class="col-lg-2" >
				
				<img th:src="@{/img/F.E.png}" alt="" class="w-80" style=" height: 250px;">
			</div>

		</div>
		<hr>
		<!--<p class="d-flex justify-content-center" style="color: #000;">© 2023 F.E . All Rights Reserved.</p>-->
	</div>

</footer>