<!DOCTYPE html>
<html xmlns="https://www.thymeleaf.org" th:replace="~{/home/index.html::area(~{::title}, ~{::body}, ~{::link})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
    <main class="container" style="margin-top: 130px;">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis est id ratione, dignissimos libero non veniam quod placeat. Repudiandae distinctio dignissimos officiis nostrum voluptatum autem omnis nemo optio assumenda ipsam!
    </main>
</body>
</html>