<!DOCTYPE html>
<html lang="en"  xmlns="http://www.thymeleaf.org">
<body>


<!-- sort link -->
     <th th:fragment="column_link(fieldName, columnLabel, removeTag)" th:remove="${removeTag}">
     	<a
     		th:href="@{${moduleURL} + '/page/' + ${currentPage} + '?sortField=' + ${fieldName} + '&sortDir=' + ${sortField != fieldName ? sortDir : reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''} + ${categoryId != null  ? '&categoryId=' + categoryId : ''}}">
     		[[${columnLabel}]]
     	</a>
     	<span th:if="${sortField == fieldName}"
     		th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"></span>
     </th>
<!-- end sort link -->

<!-- page-link -->
     <a th:fragment="page_link(pageNum, label)"
     	class="page-link" 
     	th:href="@{${moduleURL} + '/page/' + ${pageNum} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}  + ${keyword != null ? '&keyword=' + keyword : ''} + ${categoryId != null  ? '&categoryId=' + categoryId : ''}}">[[${label}]]</a>
<!-- end page-link -->

<!-- enabled status -->
	<div th:fragment="status(enabled, entityName, entityURL)" th:remove="tag">
		<a th:if="${enabled == true}" class="fas fa-check-circle fa-2x icon-blue" style="color: #008c04"
			th:href="@{${entityURL} + '/enabled/false'}"
			th:title="'Ẩn ' + ${entityName}"></a> 
		<a th:if="${enabled == false}" class="fas fa-minus-circle fa-2x icon-dark"
			th:href="@{${entityURL} + '/enabled/true'}"
			title="'Hiện ' + ${entityName}"></a>
	</div>
	
<!-- end enabled status -->

<!-- actions -->
 	<div th:fragment="delete(entityName, entityId, deleteURL, visible)" th:remove="tag">
 		<th:block th:if="${visible}">
		<a class="link-delete p-2"
			th:href="@{${deleteURL}}"
			th:entityId="${entityId}" 
			th:title="'Xóa ' + ${entityName}"> <span class="iconify" data-icon="subway:delete" style="color: #c93b3b;" data-width="24" data-height="24"></span></a>
		</th:block>
	</div>
	<div th:fragment="edit(entityName, editURL)" th:remove="tag">
		<a class="edit p-2"
			th:href="@{${editURL}}"
			th:title="'Sửa thông tin ' + ${entityName}"><span class="iconify" data-icon="carbon:edit" style="color: #dfaf15;" data-width="24" data-height="24"></span></a>
	</div>
	
	
<!-- end actions -->

	<div th:fragment="pagination(entityName)" th:remove="tag">

		<div class="text-center" th:if="${totalItems > 0}">
			<span>Hiển thị [[${entityName}]] [[${startCount}]] đến [[${endCount}]] trên
				[[${totalItems}]]</span>
		</div>
		<div class="text-center" th:unless="${totalItems > 0}">
			<span>Không tìm thấy thông tin [[${entityName}]]</span>
		</div>
		<div class="col-12 d-flex justify-content-center" style="border: none;" th:if="${totalPages > 1}">
				<ul class="pagination" style="border: none;">
					<li
						th:class="${currentPage > 1 ? 'page-link' : 'page-link disabled'}">
						<a th:replace="layout/paging :: page_link(1, 'Trang đầu')"></a>
					</li>
					<li
						th:class="${currentPage > 1 ? 'page-link' : 'page-link disabled'}">
						<a th:replace="layout/paging :: page_link(${currentPage - 1}, 'Lui')"></a>
					</li>
					<li
						th:class="${currentPage != i ? 'page-link' : 'page-link active'}"
						th:each="i : ${#numbers.sequence(1, totalPages)}"><a
						th:replace="layout/paging :: page_link(${i}, ${i})"></a></li>
					<li
						th:class="${currentPage < totalPages ? 'page-link' : 'page-link disabled'}">
						<a th:replace="layout/paging :: page_link(${currentPage + 1}, 'Tới')"></a>
					</li>
					<li
						th:class="${currentPage < totalPages ? 'page-link' : 'page-link disabled'}">
						<a
						th:replace="layout/paging :: page_link(${totalPages}, 'Trang cuối')"></a>
					</li>

				</ul>

		</div>
	</div>


	<div th:fragment="search_form()" class="col-auto row fl-right" style="margin-left: auto;">
		<form th:action="@{${moduleURL} + '/page/1'}" class="form-inline "
			style="display: flex;">
			<input type="hidden" name="sortField" th:value="${sortField}"></input>
			<input type="hidden" name="sortDir" th:value="${sortDir}"></input>
			&nbsp; &nbsp; <input style="height: 32px" type="search"
				name="keyword" th:value="${keyword}" class="form-control"
				placeholder="Nhập từ khóa" aria-label="Search"
				aria-describedby="search-addon" />

			<button type="submit" class="btn btn-secondary">
				<i class="fas fa-search"></i>
			</button>
			&nbsp;
			<button type="button" class="btn btn-secondary"
				onclick="clearFilter()">
				<i class="fas fa-eraser"></i>
			</button>
		</form>
	</div>





	<div th:fragment="message">
		<div th:if="${message != null}"
			class="alert alert-success text-center">[[${message}]]</div>
	</div>
	
	<div th:fragment="delete(entityName, entityId, deleteURL, visible)" th:remove="tag">
		<th:block th:if="${visible}">
			<a class="link-delete ml-2 btn btn-xs px-2 light btn-danger remove-color" th:href="@{${deleteURL}}"
				th:entityId="${entityId}" th:attr="data-entityName=${entityName}" th:title="'Xóa ' + ${entityName}"> <svg
					width="20" height="20" viewbox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M3 6H5H21" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					</path>
					<path
						d="M8 6V4C8 3.46957 8.21071 2.96086 8.58579 2.58579C8.96086 2.21071 9.46957 2 10 2H14C14.5304 2 15.0391 2.21071 15.4142 2.58579C15.7893 2.96086 16 3.46957 16 4V6M19 6V20C19 20.5304 18.7893 21.0391 18.4142 21.4142C18.0391 21.7893 17.5304 22 17 22H7C6.46957 22 5.96086 21.7893 5.58579 21.4142C5.21071 21.0391 5 20.5304 5 20V6H19Z"
						stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
				</svg></a>
		</th:block>
	</div>
	
	
</body>
</html>