<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="~{/admin/layout/layout :: dynamic(~{::body})}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body ng-app="indexesApp" ng-controller="indexesCtrl">
	<div class="content-body">
		<div class="container-fluid">
			<div class="card">
				<div class="card-header d-sm-flex d-block">
					<div class="mr-auto mb-sm-0 mb-3">
						<h4 class="card-title mb-2">Danh Sách Chỉ Số Điện & Nước</h4>
					</div>
					<a onclick="printRenterTable()" class="btn btn-info light mr-3"><i
							class="las la-download scale3 mr-2"></i>In Danh Sách</a>
					<a th:href="@{/admin/indexs/add-indexs}" class="btn btn-info">+ Thêm Chỉ Số Điện & Nước</a>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table style-1" id="ListDatatableView">
							<thead>
								<tr>
									<th>#</th>
									<th>PHÒNG TRỌ</th>
									<th>CHỈ SỐ ĐIỆN</th>
									<th>CHỈ SỐ NƯỚC</th>
									<th>NGÀY TẠO</th>
									<th>CHỌN</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="indexs, index : ${indexs}">
									<td th:text="${index.count}">
									</td>
									<td th:text="${indexs.motelRoom.descriptions}">
									</td>
									<td
										th:text="${#numbers.formatDecimal(indexs.electricityIndex, 0, 'WHITESPACE', 0, 'POINT')}">
									</td>
									<td
										th:text="${#numbers.formatDecimal(indexs.waterIndex, 0, 'WHITESPACE', 0, 'POINT')}">
									</td>
									<td th:text="${#dates.format(indexs.createDate, 'dd - MM - yyyy')}">
									</td>
									<td>

										<div class="dropdown ml-auto text-left">
											<div class="btn-link" data-toggle="dropdown">
												<svg width="24px" height="24px" viewbox="0 0 24 24" version="1.1">
													<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
														<rect x="0" y="0" width="24" height="24"></rect>
														<circle fill="#000000" cx="5" cy="12" r="2"></circle>
														<circle fill="#000000" cx="12" cy="12" r="2"></circle>
														<circle fill="#000000" cx="19" cy="12" r="2"></circle>
													</g>
												</svg>
											</div>
											<div class="dropdown-menu dropdown-menu-right">
												<a class="dropdown-item" data-toggle="modal"
													data-target="#exampleModalCenterIndex" type="button"
													th:attr="ng-click=@{|getAllIndexs(${indexs.motelRoom.motelRoomId})|}">Xem
													Chi Tiết</a>
												<a class="dropdown-item"
													th:href="@{|/admin/indexs/update-indexs/${indexs.indexId}|}"
													th:attr="ng-click=@{|getAllIndexsByIndex(${indexs.indexId})|}">Chỉnh
													Sửa</a>
												<a class="dropdown-item"
													th:attr="onclick='confirmAndDeleteIndex(\'' + ${indexs.motelRoom.motelRoomId} + '\')'">Xóa
													Chỉ Số Theo Phòng</a>
												<a class="dropdown-item"
													th:attr="onclick='confirmAndDeleteIndexes(\'' + ${indexs.indexId} + '\')'">Xóa
													Chỉ Số</a>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="exampleModalCenterIndex">
		<div class="modal-dialog  modal-lg" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Chi tiết chỉ số điện & nước</h5>
					<button type="button" class="close" data-dismiss="modal"><span>&times;</span>
					</button>
				</div>
				<div class="modal-body" id="modalBodyContent">
					<p class="fw-bold">{{indexes[0].motelRoom.descriptions}}</p>
					<select class="style-1 btn-primary default-select" ng-model="year"
						ng-change="getIndexsByYearAndMotelRoom(year, indexes[0].motelRoom.motelRoomId)">
						<option ng-repeat="index in indexYear" ng-value="index">{{ index }}</option>
					</select>

					<div class="table-responsive">
						<table class="table style-1">
							<thead>
								<tr>
									<th>THÁNG</th>
									<th>CHỈ SỐ ĐIỆN</th>
									<th>CHỈ SỐ NƯỚC</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="indexYearMotelRooms in indexYearMotelRoom">
									<td>
										{{ indexYearMotelRooms.createDate | date:'MM' }}
									</td>
									<td>
										{{ indexYearMotelRooms.electricityIndex}}


									</td>
									<td>
										{{ indexYearMotelRooms.waterIndex}}

									</td>
								</tr>
							</tbody>
						</table>

					</div>
				</div>

			</div>
		</div>
	</div>
</body>

</html>