<script th:inline="javascript">
	var success = /*[[${success}]]*/ false;
	if (success) {
		Swal.fire({
			title: "Thành công!",
			icon: "success",
			timer: 3000,
			toast: true,
			position: 'top-end',
			showConfirmButton: false,
		})
	}

	var error = /*[[${error}]]*/ null;
	if (error !== null) {
		Swal.fire({
			title: "Lỗi!",
			text: error,
			icon: "error",
			timer: 3000,
			toast: true,
			position: 'top-end',
			showConfirmButton: false,
		});
	}
</script>

<script th:inline="javascript">
	function confirmAndDelete(motelRoomId) {
		Swal.fire({
			title: 'Bạn có chắc chắn muốn xóa?',
			text: "Khi xóa thì tất cả các chỉ số liên quan đến phòng sẽ bị xóa!",
			icon: 'warning',
			showCancelButton: true,
			confirmButtonColor: '#d33',
			cancelButtonColor: '#3085d6',
			confirmButtonText: 'Xóa',
			cancelButtonText: 'Hủy'
		}).then((result) => {
			if (result.isConfirmed) {
				window.location.href = "/admin/indexs/delete-indexs/" + motelRoomId;
				setTimeout(() => {
					window.location.href = "/admin/indexs";
				}, 1000)
			}
		});
	}
</script>
