<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="~{/admin/layout/layout :: dynamic(~{::body})}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body ng-app="indexApp" ng-controller="indexCtrl">
    <div class="content-body">
        <div class="container-fluid">
            <div class="form-head mb-sm-5 mb-3 d-flex flex-wrap align-items-center">
                <h2 class="font-w600 title mb-2 mr-auto ">Thống Kê </h2>
                <input type="hidden" th:value="${accountIdStatistic}" id="accountIdStatistic" aria-hidden="true">
            </div>
            <div class="row">
                <div class="col-xl-3 col-sm-6 m-t35">
                    <div class="card card-coin  ">
                        <div class="card-body text-center" style="background-color: #eb8153; border-radius: 10px;">
                            <h4 class="text-light mb-2 font-w300">Số Bài Đăng Hôm Nay</h4>
                            <h2 class="text-light mb-2 font-w600">{{postToDays == 0 ? 0 : postToDays}}</h2>
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#exampleModalPost"
                                class="btn btn-light btn-xs" ng-click="getPostToDayMotelRoom()">
                                Xem chi tiết
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 m-t35">
                    <div class="card card-coin  ">
                        <div class="card-body text-center" style="background-color: #eb8153; border-radius: 10px;">
                            <h4 class="text-light mb-2 font-w300">Số Lượt Thích Bài Đăng</h4>
                            <h2 class="text-light mb-2 font-w600">{{favoriteToDays == 0 ? 0 : favoriteToDays}}</h2>
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#exampleModal" type="button"
                                class="btn btn-light btn-xs light" ng-click="getFavoriteToDayMotelRoom()">
                                Xem chi tiết
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 m-t35">
                    <div class="card card-coin  ">
                        <div class="card-body text-center" style="background-color: #eb8153; border-radius: 10px;">
                            <h4 class="text-light mb-2 font-w300">Tổng Số Người Thuê</h4>
                            <h2 class="text-light mb-2 font-w600">[[${renters}]]</h2>
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#exampleModalRenter"
                                type="button" class="btn btn-light btn-xs light"
                                th:attr="ng-click=@{|getMotelRenter(${accountIdStatistic})|}">
                                Xem chi tiết
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 m-t35">
                    <div class="card card-coin  ">
                        <div class="card-body text-center" style="background-color: #eb8153; border-radius: 10px;">
                            <h4 class="text-light mb-2 font-w300">Số Hóa Đơn Chưa Thanh Toán</h4>
                            <h2 class="text-light mb-2 font-w600">[[${invoicesSize}]]</h2>
                            <a href="javascript:void(0);" data-toggle="modal" data-target="#exampleModalInvoice"
                                type="button" class="btn btn-light btn-xs light">
                                Xem chi tiết
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12 col-xxl-12">
                    <div class="card">
                        <div class="card-header border-0 flex-wrap pb-0">
                            <div class="mb-3">
                                <h4 class="fs-20 text-black">Thống Kê</h4>
                                <p class="mb-0 fs-12 text-black"></p>
                            </div>
                            <select class="style-1 btn-secondary default-select p-1" ng-model="selectedYear"
                                ng-change="getYear(selectedYear)">
                                <option value="">Chọn Năm</option>
                                <option ng-repeat="index in indexes">{{index}}</option>
                            </select>

                        </div>
                        <div class="card-body pb-2 px-3">
                            <div id="marketChart" class="market-line"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Thống Kê Số Người Thuê</h4>
                        </div>
                        <div class="card-body">
                            <div class="custom-tab-1">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item" ng-repeat="motel in motels">
                                        <a class="nav-link" data-toggle="tab" href="#{{'motel_' + motel.motelId}}"><i
                                                class="la la-home mr-2"></i> {{motel.descriptions}}</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade" ng-repeat="motel in motels" id="motel_{{motel.motelId}}"
                                        role="tabpanel">
                                        <div class="pt-4">
                                            <div class="table-responsive">
                                                <table class="table style-1" id="ListDatatableViews">
                                                    <thead>
                                                        <tr>
                                                            <th>PHÒNG TRỌ</th>
                                                            <th>SỐ NGƯỜI THUÊ</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="motelRoom in motel.motelRoom"
                                                            ng-init="totalRenter = motelRoom.renter.length">
                                                            <td ng-hide="totalRenter <= 0">
                                                                {{motelRoom.descriptions}}
                                                            </td>
                                                            <td ng-hide="totalRenter <= 0">
                                                                {{totalRenter}}
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title">Thống Kê Số Phòng Trống</h4>
                        </div>
                        <div class="card-body">
                            <div class="custom-tab-1">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item" ng-repeat="motelsRenter in motelsRenters">
                                        <a class="nav-link" data-toggle="tab"
                                            href="#{{'motel_' + motelsRenter.motelId +'1'}}"><i
                                                class="la la-home mr-2"></i> {{motelsRenter.descriptions}}</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane fade" ng-repeat="motelsRenter in motelsRenters"
                                        id="motel_{{motelsRenter.motelId}}1" role="tabpanel">
                                        <div class="pt-4">
                                            <div class="table-responsive">
                                                <table class="table style-1" id="ListDatatableViews">
                                                    <thead>
                                                        <tr>
                                                            <th>PHÒNG TRỌ</th>
                                                            <th>TRẠNG THÁI</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr ng-repeat="motelRoom in motelsRenter.motelRoom">
                                                            <td ng-show="motelRoom.renter.length <= 0">
                                                                {{motelRoom.descriptions}}
                                                            </td>
                                                            <td ng-show="motelRoom.renter.length <= 0">
                                                                CÒN TRỐNG
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->


        </div>
    </div>
    <div class="modal fade" id="exampleModal">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chi tiết lượt thich</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalBodyContent">
                    <div class="table-responsive">
                        <table class="table style-1">
                            <thead>
                                <tr>
                                    <th>PHÒNG TRỌ</th>
                                    <th>LƯỢT THÍCH</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="favoriteToDayMotelRoom in favoriteToDayMotelRooms">
                                    <td>
                                        {{favoriteToDayMotelRoom[0]}}
                                    </td>
                                    <td>
                                        {{favoriteToDayMotelRoom[1]}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalPost">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chi tiết lượt đăng</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalBodyContent">
                    <div class="table-responsive">
                        <table class="table style-1">
                            <thead>
                                <tr>
                                    <th>TIÊU ĐỀ</th>
                                    <th>LƯỢT ĐĂNG</th>
                                    <th>NGÀY ĐĂNG</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="postToDayMotelRoom in postToDayMotelRooms">
                                    <td>
                                        {{postToDayMotelRoom[0]}}
                                    </td>
                                    <td>
                                        {{postToDayMotelRoom[1]}}
                                    </td>
                                    <td>
                                        {{postToDayMotelRoom[2]}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalRenter">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chi tiết người thuê</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalBodyContent">
                    <div class="table-responsive">
                        <table class="table style-1">
                            <thead>
                                <tr>
                                    <th>NHÀ TRỌ</th>
                                    <th>PHÒNG TRỌ</th>
                                    <th>SỐ NGƯỜI THUÊ</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="motelRenter in motelRenters">
                                    <td>
                                        {{motelRenter[0]}}
                                    </td>
                                    <td>
                                        {{motelRenter[1]}}
                                    </td>
                                    <td>
                                        {{motelRenter[2]}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalInvoice">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Chi tiết hóa đơn</h5>
                    <button type="button" class="close" data-dismiss="modal"><span>&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="modalBodyContent">
                    <div class="table-responsive">
                        <table class="table style-1">
                            <thead>
                                <tr>
                                    <th>PHÒNG TRỌ</th>
                                    <th>NGÀY TẠO HÓA ĐƠN</th>
                                    <th>TỔNG TIỀN</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="invoice : ${invoices}">
                                    <td>
                                        [[${invoice.renter.motelRoom.descriptions}]]
                                    </td>
                                    <td>
                                        [[${#dates.format(invoice.createDate, 'dd - MM - yyyy')}]]
                                    </td>
                                    <td>
                                        [[${#numbers.formatDecimal(invoice.totalPrice, 0, 'COMMA', 0, 'POINT')}]]
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger light" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</body>

</html>