<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="~{/admin/layout/layout :: dynamic(~{::body})}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<div class="content-body">
		<div class="container-fluid">
			<div class="form-head mb-sm-5 mb-3 d-flex flex-wrap align-items-center">
				<h2 class="font-w600 title mb-2 mr-auto ">HÓA ĐƠN</h2>
			</div>
			<div class="row">
				<div class="col-xl-12 col-lg-12">
					<div class="card">
						<div class="card-body">
							<div class="basic-form">
								<form th:action="@{/admin/invoice/add-invoice}" th:object="${invoice}" method="post">
									<div class="form-row">
										<div class="form-group col-md-6">
											<label for="inputState">Chọn Phòng Trọ</label>
											<select id="inputState" class="form-control" th:field="*{motelRoomId}">
												<option th:each="currentRenter : ${renters}"
													th:value="${currentRenter.motelRoomId}"
													th:text="${currentRenter.descriptions}">
												</option>
											</select>
										</div>

									</div>
									<button class="btn btn-primary">Lưu Lại</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</body>

</html>