<script th:inline="javascript">
	var success = /*[[${success}]]*/ false;
	if (success) {
		Swal.fire({
			title: "Thành công!",
			icon: "success",
			timer: 3000,
			toast: true,
			position: 'top-end',
			showConfirmButton: false,
		})
	}

	var error = /*[[${error}]]*/ null;
	if (error !== null) {
		Swal.fire({
			title: "Lỗi!",
			text: error,
			icon: "error",
			timer: 3000,
			toast: true,
			position: 'top-end',
			showConfirmButton: false,
		});
	}
</script>
<script th:inline="javascript">
	function printRenterTable() {
		var table = document.getElementById("ListDatatableView").cloneNode(true); // Clone bảng gốc để không ảnh hưởng đến hiển thị trên trang web

		// Duyệt qua từng hàng của bảng
		for (var i = 0; i < table.rows.length; i++) {
			var row = table.rows[i];
			// Bỏ cột cuối cùng của mỗi hàng
			row.deleteCell(-1);
		}

		var newWin = window.open('', 'Print-Window');
		newWin.document.open();
		newWin.document.write('<html><head><title>Print-Window</title><style>@media print { body { font-family: Opensans, sans-serif; }  { width: 100%; border-collapse: collapse; }  th,  td { padding: 8px; text-align: center; } .invoice-header { text-align: center; padding: 20px; background-color: #f2f2f2; } }</style></head><body>');
		newWin.document.write('<style> td { border-left: 1px solid #000; }</style>'); // Thêm đường kẻ cho các ô của bảng
		newWin.document.write('<div class="invoice-header">');
		newWin.document.write('<h2>HÓA ĐƠN</h2>');
		newWin.document.write('<p>Ngày: 15/03/2024</p>');
		newWin.document.write('</div>');
		newWin.document.write(table.outerHTML);
		newWin.document.write('</body></html>');
		newWin.document.close();
		newWin.print();
	}

</script>