<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org">

<head>
	<title>Information</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap CSS v5.2.1 -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/header.css}">
	<link rel="stylesheet" th:href="@{/css/footer.css}">
	<link rel="stylesheet" th:href="@{/css/sigin.css}">
	<!-- Boxicons.css -->
	<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.5/dist/sweetalert2.min.css">
</head>

<body>
	<div th:replace="~{/layout/header.html}"></div>

	<main>
		<div class="container h-100" style="margin-top: 15rem; ">
			<div class="row d-flex justify-content-center align-items-center h-100">
				<div class="col-lg-12 col-xl-11">
					<div class="card text-black" style="border-radius: 25px;">
						<div class="card-body p-md-5">
							<form class="signin-form mx-1 mx-md-4"
								th:action="@{/information/{accountId}(accountId=${account.accountId})}"
								th:object="${account}" enctype="multipart/form-data" method="post">
								<div class="row justify-content-center signin ">
									<p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-2">Thông Tin</p>
									<div class="col-lg-6">
										<p class="text-center">Xin chào, <b th:text="${acc}"></b>!</p>
										<div class="form-group form-float">
											<div class="form-line">
												<img th:src="@{|/uploads/${account.avatar}|}" id="imagePreview"
													class="img-fluid rounded-3 mb-3" alt="" style="height: 200px;">
												<input type="file" id="uploadInput" class="form-control rounded-3"
													name="image" placeholder="Chọn tệp" accept="image/*">
											</div>
											<i class="text-danger" th:text="${photo_message}"></i>
										</div>
									</div>
									<div class="signin col-lg-6">
										<div class="form-group form-float mb-3">
											<div class="form-line">
												<label class="form-label fw-bold" for="form3Example2c">Họ và tên</label>
												<input type="text" id="form3Example2c" class="form-control rounded-3"
													th:field="*{fullname}" placeholder="Nhập họ và tên">
											</div>
											<i class="text-danger" th:text="${fullname}"></i>
											<i class="text-danger" th:errors="*{fullname}"></i>
										</div>
										<div class="form-group form-float mb-3">
											<div class="form-line">
												<label class="form-label fw-bold" for="form3Example4c">Số điện
													thoại</label>
												<input type="text" id="phone" name="phone"
													class="form-control rounded-3" th:field="*{phone}"
													placeholder="Nhập số điện thoại">
											</div>
											<i class="text-danger" th:text="${phone}"></i>
										</div>


										<div class="d-flex flex-row align-items-center mb-3">

											<div class="form-outline flex-fill mb-0">
												<label class="form-label fw-bold" for="form3Example2c">Giới tính</label>
												<br>
												<div class="form-check form-check-inline">
													<input class="form-check-input" type="radio"
														name="inlineRadioOptions" id="inlineRadio1" th:value="true"
														th:field="*{gender}" required>
													<label class="form-check-label" for="inlineRadio1">Nam</label>
												</div>
												<div class="form-check form-check-inline">
													<input class="form-check-input" type="radio"
														name="inlineRadioOptions" id="inlineRadio2" th:value="false"
														th:field="*{gender}" required>
													<label class="form-check-label" for="inlineRadio2">Nữ</label>
												</div>

											</div>
										</div>
										<div class="form-group form-float mb-3">

											<div class="form-line mb-0">
												<label class="form-label fw-bold" for="form3Example3c">Ngày sinh</label>
												<input type="date" id="form3Example3c" class="form-control rounded-3"
													th:field="*{createDate}" placeholder="">
											</div>
											<i class="text-danger" th:text="${date}"></i>
											<i class="text-danger" th:errors="*{createDate}"></i>
										</div>

										<div class="d-grid gap-2">
											<button class="btn btn-secondary rounded-3">Lưu</button>
										</div>
									</div>
								</div>
							</form>

						</div>
					</div>
				</div>
			</div>
			<p class="main-bottom">Cho Thuê Phòng Trọ Chính Chủ, Nhanh Chóng</p>
			<p class="main-bottom-text">Nền tảng cho thuê nhà trọ, phòng trọ hàng đầu Việt Nam</p>
			<div class="main-bottom-box d-flex justify-content-center">
				<div class="row ">
					<div class="col-lg-6 ">
						<img th:src="@{/img/user.png}" class="w-100" alt="">
						<p>800.000+ Người Dùng</p>
					</div>
					<div class="col-lg-6">
						<img th:src="@{/img/motel room.png}" class="w-100" alt="">
						<p>700.000+ Phòng Trọ </p>
					</div>
				</div>
			</div>
		</div>
		</div>

	</main>

	<div th:replace="~{/layout/footer}"></div>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.5/dist/sweetalert2.all.min.js"></script>
	<script>
		document.getElementById('uploadInput').addEventListener('change', function () {
			var reader = new FileReader();
			reader.onload = function (e) {
				document.getElementById('imagePreview').src = e.target.result;
			}
			reader.readAsDataURL(this.files[0]);
		});
	</script>
	<script th:if="${not #strings.isEmpty(update)}">
		Swal.fire({
			icon: "success",
			title: "Cập nhật thông tin thành công!",
			showConfirmButton: false,
			timer: 1500
		});
	</script>
	</script>
	<!-- Bootstrap JavaScript Libraries -->
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
		integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
		crossorigin="anonymous"></script>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
		integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
		crossorigin="anonymous"></script>
	<script th:src="@{/js/header.js}"></script>
</body>

</html>