<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:fragment="area(title, body, link)">

<head>
    <title>Trang Chủ</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <!-- Bootstrap CSS v5.2.1 -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />

    <link rel="stylesheet" th:href="@{/css/header.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <!-- ===== Boxicons CSS ===== -->
    <link href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css" rel="stylesheet" />
    <style>
        /* Thêm style cho combobox */
        .custom-select-wrapper {
            display: flex;
            align-items: center;
        }

        .custom-select {
            padding: 0.375rem 2rem 0.375rem 0.75rem;
            line-height: 1.5;
            color: #fff;
            background-color: #545454;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            width: 150px;
            /* Điều chỉnh kích thước combobox theo ý muốn */
        }

        .pagination .page-link {
            color: black;
            /* Màu chữ của số trang */

            /* Màu khung của số trang */

        }

        .pagination .page-item.active .page-link {

            /* Màu nền của số trang hiện tại */

            /* Màu khung của số trang hiện tại */
        }
    </style>
</head>

<body ng-app="myApproompostmotel" ng-controller="myCtrlroompostmotel" ng-init="GetPostMotelnew()">
    <div th:replace="~{/layout/header.html}"></div>

    <main>
        <div class="container" style="margin-top: 10rem">
            <div class="area m-1">
                <div class="row" style="margin-top: 10rem; margin-bottom: 10px;">
                    <div class="col-12" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a th:href="@{/index}">Trang chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Bài đăng nhà trọ</li>
                        </ol>
                    </div>
                </div>
                <div class="row mt-5" style="border-bottom: 3px solid black">
                    <div class="col-lg-2 ">
                        <div class=" mb-0">
                            <label class="form-label " for="">Tìm theo tên</label><br>
                            <input class="form-control " ng-model="sesearchnamemotel" type="search"
                                ng-model-options="{ debounce: 700 }">
                        </div>
                    </div>
                    <div class="col-10  d-flex justify-content-around  mb-3  ">
                        <div class=" mt-3 ">
                            <label  for="">Chọn tỉnh/thành phố</label><br>
                            <select style="width: 200px;" class="custom-select  " id="province" name="province" ng-model="province"
                                ng-change="filterItemsprovince()">
                                <option value="">Tất cả</option>
                                <option ng-repeat="city in citis" value="{{city.Id}}">{{city.Name}}</option>
                            </select>
                        </div>
                        <div class="  mt-3 ">
                            <label for="">Chọn quận/huyện</label><br>
                            <select style="width: 200px;" class="custom-select form-control " id="district" name="district"
                                ng-model="district" ng-change="filterItemsdistrict()">
                                <option value="">Tất cả</option>
                                <option ng-repeat="district in districts" value="{{district.Id}}">{{district.Name}}
                                </option>
                            </select>
                        </div>
                        <div class="  mt-3 ">
                            <label for="">Chọn phường/xã</label>
                            <select style="width: 200px;" class="custom-select form-control " id="ward" name="ward" ng-model="ward"
                                ng-change="filterItemsWard()">
                                <option value="">Tất cả</option>
                                <option ng-repeat="ward in wards" value="{{ward.Id}}">{{ward.Name}}</option>
                            </select>
                        </div>
                    </div>
            </div>

            <div class="mt-4">
                <div class="container mt-1 p-2">
                    <div class="row">
                        <div class="col-lg-12 ps-3 ">
                            <div ng-show="true">
                                <div style="min-height: 25rem;" class=" row ">
                                    <div ng-show="items.length" class=" mt-4 col-12 col-md-4  p-2   "
                                        ng-repeat="item in items.slice((currentPage-1)*itemsPerPage, currentPage*itemsPerPage)">
                                        <div class="h-100">
                                            <div class="card h-100" style="background-color: #fff; color: #000;">
                                                <a class="text-center "
                                                    href="/post/motel/motelroom/{{item.motel.motelId}}">
                                                    <img style="width: 250px;height: 250px;" class="card-img-top "
                                                        src="/files/ImgMotel/{{item.motel.image}}" alt="" /></a>
                                                <div class="card-body position-relative" >
                                                    <a class="text-decoration-none "
                                                    href="/post/motel/motelroom/{{item.motel.motelId}}">
                                                    <p class="card-text text-success h5  ">{{item.posttitle}}</p>
                                                </a>
                                                   
                                                    <label class="fw-lighter  " for="">Mô tả</label>
                                                    <div style="background-color: #f4efef;"
                                                        class="d-flex  p-2 rounded-2">
                                                        <p class="d-flex align-items-start ">
                                                        <div>
                                                            <span class="fw-lighter  ">
                                                                {{item.motel.descriptions}}
                                                            </span>
                                                            <br>
                                                            <span class="fw-lighter  ">
                                                                Người đại diện: {{item.account.fullname}} <br>
                                                               SDT: {{item.account.phone}}
                                                                
                                                            </span>
                                                        </div>
                                                        </p>
                                                    </div>
                                                    <div class="row py-3">
                                                        <div class="col-lg-12 card-text text-start"><i
                                                                class='bx bx-current-location pe-1'></i>
                                                            {{item.motel.detailAddress}}, {{item.motel.ward}},
                                                            {{item.motel.district}},
                                                            {{item.motel.province}}
                                                        </div>
                                                        <hr>
                                                        <div class="col-lg-12 card-text"><i
                                                                class='bx bx-fullscreen pe-1'></i>Tổng phòng hiện có:
                                                            {{item.totalrooms}}
                                                            <a>phòng</a>
                                                        </div>
                                                        <hr>
                                                        <div class="col-lg-12 card-text py-2">

                                                            <i class='bx bx-user-plus pe-1'></i> Phòng trống:
                                                            {{item.availability}} phòng

                                                        </div>

                                                    </div>
                                                    <div style="right: 2rem; bottom: 8px;"
                                                        class="col-lg-12 card-text d-flex  justify-content-end position-absolute ">
                                                        <span class="fw-lighter  ">
                                                            Đăng ngày: {{ item.postcreateDate |
                                                                date:'dd-MM-yyyy' }}
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="text-center mt-4" ng-if="pageCount() > 1">
                        <button class="btn m-1"
                            ng-class="{ 'btn-outline-secondary': currentPage != 1, 'btn-success': currentPage == 1 }"
                            ng-disabled="currentPage == 1" ng-click="firstPage()">Đầu trang</button>
                        <button class="btn m-1"
                            ng-class="{ 'btn-outline-secondary': currentPage != 1, 'btn-success': currentPage == 1 }"
                            ng-disabled="currentPage == 1" ng-click="prevPage()">Previous</button>
                        <button class="btn m-1" ng-repeat="n in pages()"
                            ng-class="{ 'btn-outline-secondary': currentPage != n, 'btn-success': currentPage == n }"
                            ng-click="setPage(n)">{{n}}</button>
                        <button class="btn m-1"
                            ng-class="{ 'btn-outline-secondary': currentPage != pageCount(), 'btn-success': currentPage == pageCount() }"
                            ng-disabled="currentPage == pageCount()" ng-click="nextPage()">Next</button>
                        <button class="btn m-1"
                            ng-class="{ 'btn-outline-secondary': currentPage != pageCount(), 'btn-success': currentPage == pageCount() }"
                            ng-disabled="currentPage == pageCount()" ng-click="lastPage()">Cuối trang</button>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <div th:replace="~{/layout/footer.html}"></div>
    <div th:replace="~{/home/scriptSweet}"></div>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!-- <script th:src="@{/js/header.js}"></script>
    <script th:src="@{/js/room.js}"></script> -->
    <script th:src="@{/js/address.js}"></script>
    <script th:inline="javascript">
        function filterByAddress() {

            var selectedCityElement = document.getElementsByName("city")[0];
            var selectedDistrictElement = document.getElementsByName("district")[0];
            var selectedWardElement = document.getElementsByName("ward")[0];

            var selectedCity = selectedCityElement.value !== "" ? selectedCityElement.options[selectedCityElement.selectedIndex].text : "";
            var selectedDistrict = selectedDistrictElement.value !== "" ? selectedDistrictElement.options[selectedDistrictElement.selectedIndex].text : ""; var selectedWard = selectedWardElement.value !== "" ? selectedWardElement.options[selectedWardElement.selectedIndex].text : "";
            console.log("json", selectedCity, selectedDistrict, selectedWard);

            var cards = document.getElementsByClassName("room-card");

            for (var i = 0; i < cards.length; i++) {
                var card = cards[i];
                var cityElement = card.querySelector(".city");
                var districtElement = card.querySelector(".district");
                var wardElement = card.querySelector(".ward");
                console.log("card", card);

                if (!cityElement || !districtElement || !wardElement) {
                    console.log("Không thể lấy thông tin địa chỉ từ thẻ card.");
                    continue; // Bỏ qua thẻ card không có đủ thông tin địa chỉ và chuyển sang thẻ card tiếp theo
                }

                var city = cityElement.innerText;
                var district = districtElement.innerText;
                var ward = wardElement.innerText;

                console.log("Thông tin địa chỉ từ thẻ card:", city, district, ward);

                if ((selectedCity === "" || city.includes(selectedCity)) &&
                    (selectedDistrict === "" || district.includes(selectedDistrict)) &&
                    (selectedWard === "" || ward.includes(selectedWard))) {
                    card.style.display = ""; // Hiển thị thẻ card nếu nó khớp với điều kiện lọc
                    console.log("so sanh thanh cong");
                    console.log("du lie json", selectedCity, selectedDistrict, selectedWard);
                } else {
                    card.style.display = "none"; // Ẩn thẻ card nếu không khớp với điều kiện lọc
                    console.log("so sanh that bai");
                }
            }
        }
        // Gọi hàm lọc ban đầu để hiển thị tất cả card
        filterByAddress();
    </script>
    <div th:replace="~{/home/scriptSweet}"></div>
</body>

</html>