<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
	integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
	crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
	integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
	crossorigin="anonymous"></script>
<script th:src="@{/js/header.js}"></script>
<script th:src="@{/js/invoice.js}"></script>
<script th:src="@{/js/IndexPostMotel.js}"></script>
<script th:src="@{/js/motelroominmotel.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.10.5/dist/sweetalert2.all.min.js"></script>
 <!-- thêm jQuery -->
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

 <!-- thêm CSS cho Owl Carousel -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css">

 <!-- thêm Javascript cho Owl Carousel -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.2.1/owl.carousel.js"></script>
<script th:inline="javascript">
	var paymentSuccess = /*[[${paymentSuccess}]]*/ false;
	if (paymentSuccess) {
		Swal.fire({
			title: "Thành công!",
			text: "Thanh toán hóa đơn thành công!",
			icon: "success",
			toast: true,
			position: 'top-end',
			showConfirmButton: false,
			timer: 3000
		})
	}
	$('.owl-carousel').owlCarousel({
		loop: false,
		margin: 10,
		nav: true,
		autoplay: true,
		autoplayTimeout: 3000,
		autoplayHoverPause: true,
		responsive: {
			0: {
				items: 1
			},
			1000: {
				items: 3
			}
		}
	})
</script>
<!--Quên mk-->
<script th:if="${not #strings.isEmpty(message)}" th:inline="javascript">
	var changeMessage = /*[[${message}]]*/ '';
	Swal.fire({
		title: "Thành công!",
		text: changeMessage,
		icon: "success"
	}).then(() => {
		window.location.href = '/signin';
	});
</script>
<script th:if="${not #strings.isEmpty(messagee)}" th:inline="javascript">
	var changeMessage = /*[[${messagee}]]*/ '';
	Swal.fire({
		title: "Thất bại!",
		text: changeMessage,
		icon: "error"
	});
</script>
<script th:if="${not #strings.isEmpty(mes)}" th:inline="javascript">
	var changeMessage = /*[[${mes}]]*/ '';
	Swal.fire({
		icon: "info",
		title: "Xác nhận!",
		text: changeMessage,
		showConfirmButton: false,
		timer: 1500
	}).then(() => {
		var email = /*[[${email1}]]*/ '';
        window.location.href = '/confirmForm?email=' + email;
	});
</script>
<!--Change-->

<script th:if="${not #strings.isEmpty(change)}" th:inline="javascript">
	var changeMessage = /*[[${change}]]*/ '';
	Swal.fire({
		title: "Thất bại!",
		text: changeMessage,
		icon: "error"
	});
</script>
<script th:if="${not #strings.isEmpty(pass)}" th:inline="javascript">
	var changeMessage = /*[[${pass}]]*/ '';
	Swal.fire({
		icon: "success",
		title: "Thành công!",
		text: "Thay đổi mật khẩu thành công!",
		showConfirmButton: false,
		timer: 1500
	}).then(() => {
		window.location.href = '/auth/logoff';
	});
</script>
<!--information-->
<script th:if="${not #strings.isEmpty(update)}" th:inline="javascript">
	var changeMessage = /*[[${update}]]*/ '';
	Swal.fire({
		icon: "success",
		title: "Thành công!",
		text: changeMessage,
		showConfirmButton: false,
		timer: 1500
	});
</script>
<script>
	document.getElementById('uploadInput').addEventListener('change', function () {
		var reader = new FileReader();
		reader.onload = function (e) {
			document.getElementById('imagePreview').src = e.target.result;
		}
		reader.readAsDataURL(this.files[0]);
	});
</script>
<!--Đăng nhập-->
<script th:if="${not #strings.isEmpty(auth)}" th:inline="javascript">
	var changeMessage = /*[[${auth}]]*/ '';
	Swal.fire({
		icon: "success",
		title: "Thành công!",
		text: changeMessage,
		showConfirmButton: false,
		timer: 1500
	}).then(() => {
		window.location.href = '/index';
	});
</script>
<script th:if="${not #strings.isEmpty(signin)}" th:inline="javascript">
	var changeMessage = /*[[${signin}]]*/ '';
	Swal.fire({
		icon: "success",
		title: "Thành công!",
		text: changeMessage,
		showConfirmButton: false,
		timer: 1500
	}).then(() => {
		window.location.href = '/index';
	});
</script>
<script th:if="${not #strings.isEmpty(error)}">
	Swal.fire({
		icon: "error",
		title: "Thất bại!",
		text: "Đăng nhập thất bại!",
		showConfirmButton: false,
		timer: 1500
	});
</script>
<script th:if="${not #strings.isEmpty(errors)}">
	Swal.fire({
		icon: "error",
		title: "Xác nhận!",
		text: "Bạn không có quyền!",
		showConfirmButton: false,
		timer: 1500
	});
</script>
<!--Đăng ký-->
<script th:if="${not #strings.isEmpty(create)}" th:inline="javascript">
	var changeMessage = /*[[${create}]]*/ '';
	Swal.fire({
		icon: "success",
		title: "Thành công!",
		text: changeMessage
	}).then(() => {
		window.location.href = '/signin';
	});
</script>
<script th:if="${not #strings.isEmpty(signup)}" th:inline="javascript">
	var changeMessage = /*[[${signup}]]*/ '';
	Swal.fire({
		title: "Thành công!",
		text: changeMessage,
		icon: "success"
	}).then(() => {
		window.location.href = '/signin';
	});
</script>
<script th:if="${not #strings.isEmpty(signuperr)}" th:inline="javascript">
	var changeMessage = /*[[${signuperr}]]*/ '';
	Swal.fire({
		title: "Thất bại!",
		text: changeMessage,
		icon: "error"
	});
</script>
<script th:if="${not #strings.isEmpty(signupinfo)}" th:inline="javascript">
	var changeMessage = /*[[${signupinfo}]]*/ '';
	Swal.fire({
		icon: "info",
		title: "Xác nhận!",
		text: changeMessage,
		showConfirmButton: false,
		timer: 1500
	}).then(() => {
		var email = /*[[${email1}]]*/ '';
        window.location.href = '/confirmSignup';
	});
</script>
<!--Đăng xuất-->
<script>
	var logoutButton = document.getElementById('logoutButton');
	logoutButton.onclick = function (e) {
		Swal.fire({
			title: "Xác Nhận!",
			text: "Bạn có muốn đăng xuất!",
			icon: "warning",
			showCancelButton: true,
			confirmButtonColor: "#3085d6",
			cancelButtonColor: "#d33",
			confirmButtonText: "Đăng xuất",
			cancelButtonText: "Không"
		}).then((result) => {
			if (result.isConfirmed) {
				Swal.fire({
					icon: "success",
					title: "Thành công!",
					text: "Đăng xuất thành công!",
					showConfirmButton: false,
					timer: 1500
				}).then(() => {
					window.location.href = '/auth/logoff';
				});
			}
		});
	}
</script>

<!--Yêu cầu-->
<script th:if="${not #strings.isEmpty(creates)}" th:inline="javascript">
	var changeMessage = /*[[${creates}]]*/ '';
	Swal.fire({
		icon: "success",
		title: "Thành công!",
		text: changeMessage,
		showConfirmButton: false,
		timer: 1500
	});
</script>

<script>
	function confirmDelete(id) {
		Swal.fire({
			title: "Xác Nhận!",
			text: "Bạn có muốn hủy không!",
			icon: "warning",
			showCancelButton: true,
			confirmButtonColor: "#3085d6",
			cancelButtonColor: "#d33",
			confirmButtonText: "Hủy yêu cầu",
			cancelButtonText: "Không"
		}).then((result) => {
			if (result.isConfirmed) {
				Swal.fire({
					icon: "success",
					title: "Thành công!",
					text: "Hủy thành công!",
					showConfirmButton: false,
					timer: 1500
				}).then(() => {
					window.location.href = '/deleteRe/' + id;
				});
			}
		});
	}
</script>
<!--yêu cầu-->
<script th:if="${not #strings.isEmpty(req)}" th:inline="javascript">
    var changeMessage = /*[[${req}]]*/ '';
    Swal.fire({
        icon: "warning",
        title: "Xác nhận!",
        text: changeMessage,
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Đồng ý",
        cancelButtonText: "Không"
    }).then((result) => {
        if (result.isConfirmed) {
            window.location.href = '/request/update';
        }
    });
</script>




<script th:if="${paymentSuccess}">
	Swal.fire({
		title: "Thành công!",
		text: "Thanh toán hóa đơn thành công!",
		icon: "success"
	}).then(() => {
		window.location.href = '/index';
	});
</script>

