<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="~{/admin/layout/layout :: dynamic(~{::body})}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body ng-app="renterApp" ng-controller="renterCtrl">
	<div class="content-body">
		<div class="container-fluid">
			<div class="form-head mb-sm-5 mb-3 d-flex flex-wrap align-items-center">
				<h2 class="font-w600 title mb-2 mr-auto ">Thuê Phòng</h2>
			</div>
			<div class="row">
				<div class="col-xl-6 col-lg-6">
					<div class="card">
						<div class="card-body">
							<div class="basic-form">
								<form>
									<div class="form-row">
										<div class="form-group col-md-12">
											<label>Số CCCD</label>
											<input type="text" ng-model="keyword" ng-model-options="{ debounce: 300 }"
												ng-change="search()" placeholder="Nhập số CCCD..." class="form-control">
										</div>
									</div>
									<div class="form-row">
										<div class="form-group col-md-12">
											<div class="table-responsive">
												<table class="table style-1" id="ListDatatableView">
													<thead>
														<tr>
															<th>#</th>
															<th>HỌ TÊN</th>
															<th>SỐ CCCD</th>
															<th>EMAIL</th>
															<th>GIỚI TÍNH</th>
															<th>CHỌN</th>
														</tr>
													</thead>
													<tbody>
														<tr ng-repeat="(index, result) in results track by $index">
															<td>
																<h6>{{index+1}}</h6>
															</td>
															<td>
																<div>
																	<h6>{{result.fullname}}</h6>
																</div>
															</td>
															<td>
																<div>
																	<h6 class="text-primary">{{result.citizen}}</h6>
																</div>
															</td>
															<td>
																{{result.email}}
															</td>
															<td><span class="badge badge-warning">{{result.gender ?
																	'Nam':'Nữ'}}</span>
															</td>
															<td>
																<div class="d-flex action-button">
																	<a href=""
																		ng-click="showFullName(result.fullname, result.accountId)"
																		class="btn btn-info btn-xs light px-2">
																		<svg xmlns="http://www.w3.org/2000/svg"
																			width="20" height="20" fill="currentColor"
																			class="bi bi-hand-index-thumb"
																			viewBox="0 0 16 16">
																			<path
																				d="M6.75 1a.75.75 0 0 1 .75.75V8a.5.5 0 0 0 1 0V5.467l.086-.004c.317-.012.637-.008.816.027.134.027.294.096.448.182.077.042.15.147.15.314V8a.5.5 0 0 0 1 0V6.435l.106-.01c.316-.024.584-.01.708.04.118.046.3.207.486.43.081.096.15.19.2.259V8.5a.5.5 0 1 0 1 0v-1h.342a1 1 0 0 1 .995 1.1l-.271 2.715a2.5 2.5 0 0 1-.317.991l-1.395 2.442a.5.5 0 0 1-.434.252H6.118a.5.5 0 0 1-.447-.276l-1.232-2.465-2.512-4.185a.517.517 0 0 1 .809-.631l2.41 2.41A.5.5 0 0 0 6 9.5V1.75A.75.75 0 0 1 6.75 1M8.5 4.466V1.75a1.75 1.75 0 1 0-3.5 0v6.543L3.443 6.736A1.517 1.517 0 0 0 1.07 8.588l2.491 4.153 1.215 2.43A1.5 1.5 0 0 0 6.118 16h6.302a1.5 1.5 0 0 0 1.302-.756l1.395-2.441a3.5 3.5 0 0 0 .444-1.389l.271-2.715a2 2 0 0 0-1.99-2.199h-.581a5 5 0 0 0-.195-.248c-.191-.229-.51-.568-.88-.716-.364-.146-.846-.132-1.158-.108l-.132.012a1.26 1.26 0 0 0-.56-.642 2.6 2.6 0 0 0-.738-.288c-.31-.062-.739-.058-1.05-.046zm2.094 2.025" />
																		</svg>
																	</a>
																</div>
															</td>
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xl-6 col-lg-6">
					<div class="card">
						<div class="card-body">
							<div class="basic-form">
								<form>
									<div class="form-row">
										<div class="form-group col-md-6">
											<label>Họ Tên</label>
											<input type="text" ng-model="accountId" ng-value="fullname"
												class="form-control">
										</div>
										<div class="form-group col-md-6">
											<label>Ngày Thuê</label>
											<input type="date" class="form-control" ng-model="renterDate">
										</div>
										<div class="form-group col-md-6">
											<label>Phòng Trọ</label>
											<select id="inputState" class="form-control" ng-model="motelRoomId">
												<option value="">Chọn nhà trọ</option>
												<option th:each="motelRoomRenter : ${motelRoom}"
													th:value="${motelRoomRenter.motelRoomId}"
													th:text="${motelRoomRenter.descriptions}">
												</option>
											</select>
										</div>

									</div>
									<button ng-click="addRenter(accountId, renterDate, motelRoomId)"
										class="btn btn-primary">Lưu Lại</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
</body>

</html>