<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org" th:replace="~{/admin/layout/layout :: dynamic(~{::body})}">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body ng-app="renterApp" ng-controller="renterCtrl">
	<div class="content-body">
		<div class="container-fluid">
			<div class="card">
				<div class="card-header d-sm-flex d-block">
					<div class="mr-auto mb-sm-0 mb-3">
						<h4 class="card-title mb-2">Danh Sách Thuê Trọ</h4>
					</div>
					<a th:href="@{/admin/change-room}" class="btn btn-info light mr-3">Danh Sách Đổi
						Phòng</a>
					<a th:href="@{/admin/check-in-and-check-out}" class="btn btn-info light mr-3">Danh Sách Trả
						Phòng</a>
					<a th:href="@{/admin/renter/add-renter}" class="btn btn-info">+ Thêm Người Thuê</a>
				</div>
				<div class="card-body">
					<div class="table-responsive">
						<table class="table style-1" id="ListDatatableView">
							<thead>
								<tr>
									<th>#</th>
									<th>HỌ TÊN</th>
									<th>SỐ ĐIỆN THOẠI</th>
									<th>GIỚI TÍNH</th>
									<th>PHÒNG TRỌ</th>
									<th>NGÀY THUÊ</th>
									<th>CHỌN</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="renter, stt : ${renters}" th:if="${renter.checkOutDate == null}">
									<td th:text="*{stt.index + 1}">
									</td>
									<td th:text="${renter.account.fullname}">
									</td>
									<td th:text="${renter.account.phone}">
									</td>
									<td th:text="${renter.account.gender ?
										'Nam':'Nữ'}">
									</td>
									<td th:text="${renter.motelRoom.descriptions}">
									</td>
									<td th:text="${#dates.format(renter.renterDate, 'dd - MM - yyyy')}">

									</td>
									<td>
										<div class="dropdown ml-auto text-left">
											<div class="btn-link" data-toggle="dropdown">
												<svg width="24px" height="24px" viewbox="0 0 24 24" version="1.1">
													<g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
														<rect x="0" y="0" width="24" height="24"></rect>
														<circle fill="#000000" cx="5" cy="12" r="2"></circle>
														<circle fill="#000000" cx="12" cy="12" r="2"></circle>
														<circle fill="#000000" cx="19" cy="12" r="2"></circle>
													</g>
												</svg>
											</div>
											<div class="dropdown-menu dropdown-menu-right">
												<a class="dropdown-item"
													th:href="@{|/admin/renter/change-room/${renter.renterId}|}">Đổi
													Phòng</a>
												<a class="dropdown-item"
													th:href="@{|/admin/renter/update-renter/${renter.renterId}|}">Chỉnh
													Sửa</a>
												<a class="dropdown-item"
													th:attr="onclick='confirmDelete(\'' + ${renter.renterId} + '\')'">Trả
													Phòng Theo Người Thuê</a>
												<a class="dropdown-item"
													th:attr="onclick='confirmAndDeleteRenter(\'' + ${renter.motelRoom.motelRoomId} + '\')'">Trả
													Phòng Theo Phòng</a>
											</div>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>